Repository S09Z/nestjs-production-ready-boilerplate, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, config, dependencies, database, api, services, tests, ci-cd, dto, health, security, cache

.github/labeler.yml:

# Auto-labeling configuration for Pull Requests

# Documentation changes
'documentation':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Configuration changes
'config':
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.json'
          - '**/*.yml'
          - '**/*.yaml'
          - '.env.example'
          - 'tsconfig*.json'

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'pnpm-lock.yaml'

# Database
'database':
  - changed-files:
      - any-glob-to-any-file:
          - 'prisma/**/*'
          - 'src/database/**/*'

# API
'api':
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.controller.ts'

# Services
'services':
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.service.ts'

# Tests
'tests':
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.spec.ts'
          - 'test/**/*'

# CI/CD
'ci-cd':
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'
          - 'Dockerfile'
          - 'docker-compose*.yml'

# DTOs
'dto':
  - changed-files:
      - any-glob-to-any-file: '**/dto/*.ts'

# Health & Monitoring
'health':
  - changed-files:
      - any-glob-to-any-file: 'src/health/**/*'

# Security
'security':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/common/filters/**/*'
          - 'src/common/guards/**/*'

# Cache
'cache':
  - changed-files:
      - any-glob-to-any-file: 'src/cache/**/*'

remove text file
  .github/TYPESCRIPT.md
  .github/WORKFLOWS.md
Labels: documentation, ci-cd

fix build
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
Labels: config, ci-cd

fix build
  .github/workflows/ci.yml
Labels: config, ci-cd

fix build
  Dockerfile
  pnpm-workspace.yaml
  src/app.module.ts
  src/database/database.service.ts
  src/post/dto/create-post.dto.ts
  src/post/dto/update-post.dto.ts
  src/post/entities/post.entity.ts
  src/post/post.controller.spec.ts
  src/post/post.controller.ts
  src/post/post.module.ts
  src/post/post.service.spec.ts
  src/post/post.service.ts
  src/user/user.controller.ts
  src/user/user.model.ts
  src/user/user.module.ts
  src/user/user.service.ts
Labels: config, database, api, services, tests, ci-cd, dto

adding guard and auth controller
  .env.example
  docs/TESTING.md
  src/app.module.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/common/guards/throttler.guard.spec.ts
  src/common/middleware/body-size-limit.middleware.spec.ts
  src/common/middleware/body-size-limit.middleware.ts
  src/config/app.config.ts
  src/config/env.validation.ts
  src/main.ts
  test/large-request.e2e-spec.ts
  test/rate-limit.e2e-spec.ts
Labels: documentation, config, api, services, tests, security

implement auth guard
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.guard.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/constants.ts
  src/user/dto/user-response.dto.ts
Labels: config, dependencies, api, services, dto

update script
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: config, ci-cd

update pipeline build
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Labels: config, dependencies, ci-cd

update pipeline build
  package.json
  pnpm-lock.yaml
  src/common/middleware/body-size-limit.middleware.ts
Labels: config, dependencies
